.navigation li a{
    text-decoration: none;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-and-information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}
.information{
    background-color: lightgreen;
}
.foot{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    padding: 20px;
    background-color: lightgrey;
}